.gameContainer {
  height: 95vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2%;
  max-width: 800px;
  margin: auto;
}

.board {
  color: whitesmoke;
  background-color: darkgray;
  border: 3px solid black;
  padding: 2%;
}

#scoreBoard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
  justify-content: space-around;
}

.player {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
  border-radius: 5%;
  justify-content: space-evenly;
  align-items: center;
}

#choiceBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2%;
}

button {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 5%;
}

button:hover {
  background-color: slategray;
  color: whitesmoke;
  cursor: pointer;
}

#announcementBoard {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2%;
  overflow-y: auto;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
  border-radius: 5%;
}
